nav, header, div, .row-header, .container-photo, .container-kontakt, .container-logo, main, footer{
  background-color: black!important;
}

#hadwa, nav, header, div, .nav-link, .carousel-caption, h3{
  color:yellow!important;
}

tr:nth-child( odd ) {  
  background-color: black!important;
 
}
tr:nth-child( even ) { 
  background-color: black!important;
 
}
tr:first-child {
 
  background-color: black!important;
  color: yellow!important;
                 
}